
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
} 

.navbar{
    
    width:100%;
    list-style-type: none;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(12, 181, 211), rgb(37, 203, 233), rgb(68, 218, 245),rgb(12, 181, 211), rgb(37, 203, 233), rgb(68, 218, 245),rgb(12, 181, 211), rgb(37, 203, 233), rgb(68, 218, 245),rgb(12, 181, 211), rgb(37, 203, 233), rgb(68, 218, 245));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.384);
}
.navbar a{
    display:flex;
    justify-content: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 21px;
    color: rgb(184, 244, 252);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
    .navbar a{
      float: none;
      display: block;
      display:flex;
      justify-content: center;
    }
    
   
  }
