/* .column1 {
    float: left;
   
    padding: 10px;
    height: 300px; 
} */

.column2 {
    margin-top: 50px;
    float: left;
    width: 100%;
    padding: 10px;
    height: 300px; 
}

/* .column3 {
    float: left;
   
    padding: 10px;
    height: 300px; 
} */


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row{
    display:flex;
    justify-content:center;
  }

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    border-radius: 12px;
    position: absolute;
    top: -7px;
    left: 165px;
    height: 25px;
    width: 25px;
    background-color: rgb(223, 217, 217);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336);
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #16cea6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* .form-container{
    display: flex;
    justify-content: center;
    margin-top: 222px;
  
    


} */
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#myTable {
   
    font-size: 18px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    overflow: auto;
    display:block;
    height:429px;
    margin-top: 35px;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
  }
.form-container{
  margin-top: 20px;
  border-radius: 12px;
display: -moz-box;
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
padding: 12px;
margin-left: 12px;
}

  @media screen and (max-width: 1300px) {
    .checkmark {
        border-radius: 12px;
        position: absolute;
        top: -9px;
      
        height: 25px;
        width: 25px;
        background-color: rgb(223, 217, 217);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336);
    }
    .form-container{
        margin-top: 20px;
      
        display: -moz-box;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
        padding: 12px;
        margin-left: 12px;
    }
    #toDoList{
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      border-radius: 10px;
     
   }
    .btn{
      padding: 4px 24px;
      color: white;
      font-size: 20px;
      border: 1px solid rgb(49, 141, 202);
      border-radius: 10px;
      background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
      margin-left: 83px;
       margin-top: 12px;
  }
  .error{  
    color:red;
    padding: 10px 20px;
    border-radius: 10px;
   
    display: -moz-grid-line;
  }

  




  @media screen and (max-width: 1200px) {
    .checkmark {
        border-radius: 12px;
        position: absolute;
        top: -9px;
        left: 130px;
        height: 25px;
        width: 25px;
        background-color: rgb(223, 217, 217);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336);
    }
    .form-container{
      margin-top: 20px;
      
      display: -moz-box;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
      padding: 12px;
      margin-left: 12px;
    }
    #toDoList{
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      border-radius: 10px;
     
   }
    .btn{
      padding: 4px 24px;
      color: white;
      font-size: 20px;
      border: 1px solid rgb(49, 141, 202);
      border-radius: 10px;
      background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
      margin-left: 83px;
      margin-top: 12px;
  }
  .error{  
    color:red;
    padding: 10px 20px;
    border-radius: 10px;
   
    display: -moz-grid-line;
  }

   

  }
  @media screen and (max-width: 1100px) {
    .checkmark {
        border-radius: 12px;
        position: absolute;
        top: -9px;
        left: 120px;
        height: 25px;
        width: 25px;
        background-color: rgb(223, 217, 217);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336);
    }
    /* #toDoList{
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      border-radius: 10px;
     
   }
    .btn{
      padding: 4px 24px;
      color: white;
      font-size: 20px;
      border: 1px solid rgb(49, 141, 202);
      border-radius: 10px;
      background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
     
  }
  .error{  
    color:red;
    padding: 10px 20px;
    border-radius: 10px;
   
    display: -moz-grid-line;
  } */

  

  }
  @media screen and (max-width: 900px) {
    .checkmark {
        border-radius: 12px;
        position: absolute;
        top: -9px;
        left: 97px;
        height: 25px;
        width: 25px;
        background-color: rgb(223, 217, 217);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336);
    }
    /* #toDoList{
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      border-radius: 10px;
     
   }
    .btn{
      padding: 4px 24px;
      color: white;
      font-size: 20px;
      border: 1px solid rgb(49, 141, 202);
      border-radius: 10px;
      background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
     
  }
  .error{  
    color:red;
    padding: 10px 20px;
    border-radius: 10px;
   
    display: -moz-grid-line;
  } */

  

  }
  @media screen and (max-width: 800px) {
    .checkmark {
        border-radius: 12px;
        position: absolute;
        top: -9px;
        left: 68px;
        height: 25px;
        width: 25px;
        background-color: rgb(223, 217, 217);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336);
    }
    /* #toDoList{
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      border-radius: 10px;
     
   }
    .btn{
      padding: 4px 24px;
      color: white;
      font-size: 20px;
      border: 1px solid rgb(49, 141, 202);
      border-radius: 10px;
      background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
     
  }
  .error{  
    color:red;
    padding: 10px 20px;
    border-radius: 10px;
   
    display: -moz-grid-line;
  } */

  

  }
  @media screen and (max-width: 700px) {
    .checkmark {
        border-radius: 12px;
        position: absolute;
        top: -9px;
        left: 61px;
        height: 25px;
        width: 25px;
        background-color: rgb(223, 217, 217);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336);
    }
    /* #toDoList{
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      border-radius: 10px;
     
   }
    .btn{
      padding: 4px 24px;
      color: white;
      font-size: 20px;
      border: 1px solid rgb(49, 141, 202);
      border-radius: 10px;
      background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
      
  }
  .error{  
    color:red;
    padding: 10px 20px;
    border-radius: 10px;
   
    display: -moz-grid-line;
  } */

  

  }

  @media screen and (max-width: 500){
    .checkmark {
        border-radius: 12px;
        position: absolute;
        top: -9px;
        left: 50px;
        height: 25px;
        width: 25px;
        background-color: rgb(223, 217, 217);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336);
    }
    /* #toDoList{
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      border-radius: 10px;*/
     
   }
    .btn{
      padding: 4px 24px;
      color: white;
      font-size: 20px;
      border: 1px solid rgb(49, 141, 202);
      border-radius: 10px;
      background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
   
  }
  /*.error{  
    color:red;
    padding: 10px 20px;
    border-radius: 10px;
   
    display: -moz-grid-line;
  } */

  
  }
  @media screen and (max-width: 600px) {
    
    #myTable {
        border: 1px solid rgb(184, 237, 250);
        font-size: 18px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        overflow: auto;
        display:block;
        height:429px;
      
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); 
        border-radius: 10px;
      }
      /* .column1 {
        float: left;
        width:2px;
        padding: 10px;
        height: 300px; 
    } */
    .checkmark {
        border-radius: 12px;
        position: absolute;
        top: -9px;
        left: 15px;
        height: 25px;
        width: 25px;
        background-color: rgb(223, 217, 217);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.336);
    }
    .column2 {
        margin-top: 50px;
        display:flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
        height: 300px;
    }
    .form-container{
      margin-top: 20px;
      display: -moz-box;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
      padding: 12px;
      margin-left: 12px;
  }
    .container {

        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      /* #toDoList{
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        border-radius: 10px;
       
     }
      .btn{
        padding: 4px 24px;
        color: white;
        font-size: 20px;
        border: 1px solid rgb(49, 141, 202);
        border-radius: 10px;
        background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
      
    }
    .error{  
      color:red;
      padding: 10px 20px;
      border-radius: 10px;
     
      display: -moz-grid-line;
    } */

    
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  #myTable th, #myTable td {
    text-align:center;
    width: 32%;
  }
  thead{
      color: rgb(184, 237, 250);
      background-image: linear-gradient(to right, rgb(12, 181, 211), rgb(37, 203, 233), rgb(68, 218, 245),rgb(12, 181, 211), rgb(37, 203, 233), rgb(68, 218, 245),rgb(12, 181, 211), rgb(37, 203, 233), rgb(68, 218, 245),rgb(12, 181, 211), rgb(37, 203, 233), rgb(68, 218, 245));
  }
  .gradient-button{
    margin:10px;
    font-family:"Arial Black", Gadget, sans-serif;
    font-size:15px;
    padding:15px;
    text-align:center;
    text-transform:uppercase;
    transition:0.5s;
    background-color:200% auto;
    color:#000000;
    box-shadow:0 1px 3px
    rgba(0,0,0,0.12), 0 1px 20px
    rgba(0,0,0,0.24);
    transition:all 0.3s
    cubic-bezier(.25,.8,.25,1);
    cursor:pointer;
    display:inline-block;
    border-radius:12px;
    padding:10px 20px 10px 20px;
    text-decoration:none;
  
    
  }
  .gradient-button:hover{
    box-shadow:0 10px 20px
    rgba(0,0,0,0.19), 0 6px 6px
    rgba(0,0,0.23);
    margin:8px 10px 12px;
    text-decoration:none;
  }
  .gradient-button-delete{
    background-image:linear-gradient(to left, #DD5E89
    0%, #F7BB97 51%, #DD5E89
    100%)
    
  }
  .gradient-button-edit{
    background-image:linear-gradient(to right , #2BC0E4
    0%, #EAECC6 51%, #2BC0E4
    100%)
    
  }
  .gradient-button-edit:hover{
    background-position:right center;
  }
  